@media (min-width: 1024px) {
    #header #mobile-menu {
        display: none;
    }
}
@media (min-width: 740px) and (max-width: 1023px) {
    #header #mobile-menu {
        display: none;
    }
}
@media (max-width: 739px) {

    #header #mobile-menu {
        display: block;
    }
    #header {
        overflow:hidden;
    }
    #header .header-search {
        display: none;
    }
    #header #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav li a {
        color: #fff;
        padding: 5px 41px;
    }
    #nav .subnav li a:hover {
        color: #000;
    }
    #content .member-item {
        width: 100%;
        margin-top: 30px;
    }
    #content .avatar {
        width: 60%;
    }
    #content .tour-place {
        width: 100%;
        margin-top: 16px;
    }
    #content .contact-element {
        width: 100%;
    }
    #content .contact-form-element {
        width: 100%;
    }
    #content .email-element {
        margin-top: 8px;
    }
    #slider .text-content {
        display: none;
    }
    .modal {
        top: -180px;
    }
}
