/*
Responsive
-PC: >= 1024px
-Tablet: >= 740px & < 1024
-Phone: < 740px
*/
/* PC */
@media (min-width: 64em) {
    #header #mobile-menu {
        display: none;
    }
}

/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    .btn {
        padding: 13.5px 15px;
    }
    .contact-form .form-control {
        padding: 14px;
    }
    .social-network {
        font-size: 26px;
    }
    .social-network a {
        margin: 0 8px;
    }
}


/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #header #mobile-menu {
        display: none;
    }
    #nav .subnav li {
        padding: 5px 0;
    }
    .contact-info {
        line-height: 1.8;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    .padding1117 {
        padding: 15px 17px !important;
    }
    .col-full-mobile,
    .s-full-width {
        width: 100% !important;
    }
    #header #mobile-menu {
        display: block;
    }
    #header {
        overflow:hidden;
    }
    #header .header-search {
        display: none;
    }
    #header #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav li a {
        color: #fff;
        padding: 5px 41px;
    }
    #nav .subnav li a:hover {
        color: #000;
    }
    #content .member-item {
        width: 100%;
        margin-top: 30px;
    }
    #content .avatar {
        width: 60%;
    }
    #content .tour-place {
        width: 100%;
        margin-top: 16px;
    }
    #content .email-element {
        margin-top: 8px;
    }
    #slider .text-content {
        display: none;
    }
    .modal {
        top: -180px;
    }
}
